@{ ViewBag.Title = "Dashboard"; }

<!-- Content area -->
<div class="content">
        <!-- Quick stats boxes -->
        <div class="row">
            <div class="col-sm-6 col-xl-3">
                <div class="card card-body">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="icon-pointer icon-3x text-success-400"></i>
                        </div>

                        <div class="media-body text-right">
                            <h3 class="font-weight-semibold mb-0">@ViewBag.ActivePrecinctsCount</h3>
                            <span class="text-uppercase font-size-sm text-muted">Active Precincts</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="card card-body">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="icon-enter6 icon-3x text-indigo-400"></i>
                        </div>

                        <div class="media-body text-right">
                            <h3 class="font-weight-semibold mb-0">382</h3>
                            <span class="text-uppercase font-size-sm text-muted">Active  Marshals</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="card card-body">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="font-weight-semibold mb-0">454,390</h3>
                            <span class="text-uppercase font-size-sm text-muted">RevenueZWD</span>
                        </div>

                        <div class="ml-3 align-self-center">
                            <i class="icon-bubbles4 icon-3x text-blue-400"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="card card-body">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="font-weight-semibold mb-0">9,438</h3>
                            <span class="text-uppercase font-size-sm text-muted">RevenueUSD</span>
                        </div>

                        <div class="ml-3 align-self-center">
                            <i class="icon-bag icon-3x text-danger-400"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /dashboard content -->
    <!-- Main charts -->
    <div class="row">
        <div class="col-xl-7">
            <!-- marshal performance -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Marshal Performance</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="columns_basic">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /marshal performance -->
        </div>

        <div class="col-xl-5">
            <!-- Precinct Performance -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Precinct Performance</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="pie_infographic"></div>
                    </div>
                </div>
            </div>
            <!-- /Precinct Performance -->
        </div>
    </div>
    <!-- /main charts -->
    <!-- Dashboard content -->
</div>
<!-- /content area -->
